/* You can add global styles to this file, and also import other style files */

.sidebar-menu li:nth-of-type(1) a img.notActive {
  display: none;
}

.sidebar-menu li:nth-of-type(1) a img.active {
  display: inline-block;
}

.sidebar-menu li:nth-of-type(1) a span {
  color: #ccdd47;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.multiselect-dropdown .dropdown-btn {
  height: 42px !important;
  line-height: 1.8 !important;
  background-color: white;
  color: black;
}

.invalid-feedback {
  font-size: 100% !important;
}
