<td>{{ idx + 1 }}</td>
<td>
  <img
    class="image-table-round"
    [src]="item.avatar || 'assets/img/users/tuser-1.png'"
    height="40"
    width="40"
  />
  <!-- [src]="item.avatar || 'assets/img/users/tuser-1.png'" -->
  <span> {{ item.name }} </span>
</td>
<!-- <td>Athlete</td> -->
<td>{{ item.email }}</td>
<td>{{ item.mobile }}</td>
<!-- <td>
  <div class="form-group checkk_dash">
    <label class="switch_dash">
      <input
        type="checkbox"
        [checked]="item.status"
        (click)="updateAthletesStatus(item._id, !item.status)"
      />
      <span class="slider_dash round"></span>
    </label>
  </div>
</td> -->

<ng-container #assign_coach> </ng-container>
