<div class="main-content" id="accordion">
  <div
    class="page-title-box d-sm-flex align-items-center justify-content-between"
  >
    <h4 class="mb-sm-0">Dashboard</h4>

    <div class="page-title-right">
      <ol class="breadcrumb m-0">
        <li class="breadcrumb-item">
          <a href="javascript: void(0);">Core Impact</a>
        </li>
        <li class="breadcrumb-item active">Category</li>
      </ol>
    </div>
  </div>

  <section class="athlete_table_section">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="card athlete_table_wrap pirmary_colorCode">
          <div
            class="card-header cardHeaderFlex accordion"
            data-toggle="collapse"
            data-target="#panel-body-1"
            aria-expanded="true"
          >
            <div class="d-flex jcsb">
              <h4>
                {{ isEditMode ? "Update" : "Add" }}
                Category
              </h4>
              <!-- <div class="modBtn-col-btn">
                  <a
                    class="btn btn-outline-primary"
                    data-toggle="modal"
                    data-target="#centerModal"
                  >
                    Add CSV
                  </a>
                  <div class="collapseIcon">
                    <i class="far fa-plus"></i>
                    <i class="fa fa-minus"></i>
                  </div>
                </div> -->
            </div>
          </div>
          <ng-container *ngIf="form">
            <form [formGroup]="form" (submit)="submit()">
              <div
                class="card-body collapse show"
                id="panel-body-1"
                data-parent="#accordion"
              >
                <div class="addTrnSession-wrap">
                  <div class="form-group">
                    <label>Name</label>
                    <input
                      formControlName="name"
                      type="text"
                      class="form-control"
                      maxlength="100"
                      minlength="3"
                      placeholder="Name"
                    />
                    <app-input-error
                      [control]="form.get('name')!"
                      [fieldName]="'Name'"
                      [patternMsg]="'Name should accept alphabet only.'"
                      [minLength]="3"
                      [maxLength]="100"
                    ></app-input-error>
                  </div>

                  <div
                    class="form-group"
                    *ngIf="subCategories | async; let items"
                  >
                    <label>Sub Categories</label>

                    <!-- [(ngModel)]="selectedItems" -->
                    <ng-multiselect-dropdown
                      formControlName="subCategories"
                      [placeholder]="'---Select---'"
                      [settings]="dropdownSettings"
                      [data]="items"
                      (onSelect)="onItemSelect($event)"
                      (onSelectAll)="onSelectAll($event)"
                    >
                    </ng-multiselect-dropdown>
                    <app-input-error
                      [control]="form.get('subCategories')!"
                      [fieldName]="'Sub Category'"
                    ></app-input-error>
                  </div>
                </div>
                <div class="traingSubmit">
                  <button [disabled]="submitting" class="btn btn-primary">
                    Submit {{ submitting ? "..." : "" }}
                  </button>
                </div>
              </div>
            </form>
          </ng-container>
        </div>
      </div>
    </div>
  </section>
</div>
