<div class="main-content">
  <div class="topBanWrapper" *ngIf="settings | async; let stg">
    <div class="topBanner">
      <input type="file" (change)="onChangeBanner($event)" #banner hidden />
      <img
        style="cursor: pointer"
        [src]="stg.banner || 'assets/img/head_banner.jpg'"
        (click)="banner.click()"
        width="1039"
        height="202"
      />
    </div>
    <div class="teamLogo">
      <input type="file" (change)="onChangeLogo($event)" #logo hidden />
      <img
        style="cursor: pointer"
        [src]="stg.logo || 'assets/img/tlogo.png'"
        (click)="logo.click()"
        width="80"
        height="80"
      />
    </div>
  </div>

  <div class="home-dflex-row">
    <div class="index-welcome-wrap" *ngIf="user | async; let info">
      <h1 class="">Welcome back, {{ info.name }}!</h1>
      <small class="" hidden>You have 7 new notifications.</small>
    </div>
  </div>

  <section class="home-top-card">
    <div class="custom-grid-four">
      <div class="smallCard">
        <div class="home-icon-wrap">
          <img src="assets/img/heart.svg" />
        </div>
        <div class="service-detail">
          <div class="serviceBold">Assigned Athletes</div>
          <div class="serviceSubTitle">
            <span class="h4">10</span>
          </div>
        </div>
      </div>
      <div class="smallCard">
        <div class="home-icon-wrap">
          <img src="assets/img/water.svg" />
        </div>
        <div class="service-detail">
          <div class="serviceBold">Training Session</div>
          <div class="serviceSubTitle">
            <span class="h4">17</span>
          </div>
        </div>
      </div>
      <div class="smallCard">
        <div class="home-icon-wrap">
          <img src="assets/img/blood.svg" />
        </div>
        <div class="service-detail">
          <div class="serviceBold">Drills</div>
          <div class="serviceSubTitle">
            <span class="h4">25</span>
          </div>
        </div>
      </div>
      <div class="smallCard">
        <div class="home-icon-wrap">
          <img src="assets/img/battery.svg" />
        </div>
        <div class="service-detail">
          <div class="serviceBold">Save Videos</div>
          <div class="serviceSubTitle">
            <span class="h4">27</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <ng-container *ngIf="athletes | async; let athletesList; else: loading">
    <section class="particularAthWrap" *ngIf="athletesList.length !== 0">
      <div class="particularHeader">
        <h1>Leading Athlete</h1>
      </div>
    </section>

    <div
      class="owl-carousel owl-theme"
      data-slider-id="1"
      *ngIf="athletesList.length !== 0"
    >
      <div *ngFor="let item of athletesList" class="item">
        <section class="palyerProfileWrap grdColor">
          <div class="playerBLeft">
            <img
              [src]="item.avatar || 'assets/img/users/user-1.jpg'"
              height="100"
              width="100"
              [alt]="item.nickname"
            />
          </div>
          <div class="playermedia-body">
            <h4 class="">{{ item.name }}</h4>
            <div class="custom-grid-home-three">
              <div class="">
                <div>Team Name</div>
                <h6 class="mb-1">Milwaukee Brewers</h6>
              </div>
              <div class="">
                <div>Height</div>
                <h6 class="mb-1">{{ item.height }} {{ item.heightIn }}</h6>
              </div>
              <div class="">
                <div>Weight</div>
                <h6 class="mb-1">{{ item.weight }} {{ item.weightIn }}</h6>
              </div>
              <div class="">
                <div>Gender</div>
                <h6 class="mb-1">{{ item.gender }}</h6>
              </div>
              <div class="">
                <div>Coach</div>
                <h6 class="mb-1">{{ item.batting_coach?.name }}</h6>
              </div>
              <div class="">
                <div>Sport</div>
                <h6 class="mb-1">{{ item.sport?.name }}</h6>
              </div>
              <div class="">
                <div>Country</div>
                <h6 class="mb-1">{{ item.country }}</h6>
              </div>
              <div class="">
                <div>State</div>
                <h6 class="mb-1">{{ item.state }}</h6>
              </div>
            </div>
          </div>
        </section>

        <section class="lp_metric">
          <div id="accordion_s1">
            <div *ngFor="let item of [1, 2, 3]" class="accordion">
              <div
                class="accordion-header"
                role="button"
                data-toggle="collapse"
                [attr.data-target]="'#panel-body-' + item"
                [attr.aria-expanded]="item == 1 ? true : false"
              >
                <div class="acc_head_wrap">
                  <div class="acc_date_time_wrap">
                    <h5>June 29, 2022</h5>
                    <h5>9:01am</h5>
                  </div>
                  <div class="acc_arrow_wrap">
                    <i class="fas fa-sort-down"></i>
                  </div>
                </div>
              </div>
              <div
                class="accordion-body collapse"
                [ngClass]="item == 1 ? 'show' : ''"
                [id]="'panel-body-' + item"
                data-parent="#accordion_s1"
              >
                <div class="metric_data_wrap">
                  <div class="swingWrap">
                    <div class="swign">
                      <span> 21 </span>
                      <span> SWINGS </span>
                    </div>
                    <div class="mph">
                      <span> 71 </span>
                      <span> MPH </span>
                    </div>
                    <div class="bats">
                      <span> 2 </span>
                      <span> BATS </span>
                    </div>
                  </div>
                </div>

                <div class="otherMetricReport">
                  <div class="omr_wrap">
                    <ul>
                      <li>
                        <span> Muscle Zone </span>
                        <span> 75 </span>
                      </li>
                      <li>
                        <span> Muscle Fatigue </span>
                        <span> 63 </span>
                      </li>
                      <li>
                        <span> Heart Rate </span>
                        <span> 102 BPM </span>
                      </li>
                      <li>
                        <span> Muscle Acceleration </span>
                        <span> 71 MPH </span>
                      </li>
                      <li>
                        <span> Muscle Acceleration </span>
                        <span> 80 MPH </span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </ng-container>

  <ng-template #loading>Loading...</ng-template>
</div>
