<div class="main-content">
  <div class="container-fluid breadcrumbPdiv">
    <div class="row">
      <div class="col-12">
        <div
          class="page-title-box d-sm-flex align-items-center justify-content-between"
        >
          <h4 class="mb-sm-0">Dashboard</h4>

          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item">
                <a href="javascript: void(0);">Core Impact</a>
              </li>
              <li class="breadcrumb-item active">Heat Maps and Metrics</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="athlete_table_section ath-manage">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="card athlete_table_wrap pirmary_colorCode">
          <div class="card-header">
            <h4>Athlete</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive playerListWrap">
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th scope="col">Player Name</th>
                    <th scope="col">Height</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Throw</th>
                    <th scope="col">Hit</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <img
                        class="image-table-round"
                        src="assets/img/users/tuser-1.png"
                      />
                      <a href="heat-metric-player-wise.php"> Albert Abreu </a>
                    </td>
                    <td>6"4 Feet</td>
                    <td>260 pounds</td>
                    <td>Left</td>
                    <td>Left</td>
                  </tr>
                  <tr>
                    <td>
                      <img
                        class="image-table-round"
                        src="assets/img/users/tuser-2.png"
                      />
                      <a href="heat-metric-player-wise.php"> Jhony Brito </a>
                    </td>
                    <td>5"11 Feet</td>
                    <td>240 pounds</td>
                    <td>Left</td>
                    <td>Left</td>
                  </tr>
                  <tr>
                    <td>
                      <img
                        class="image-table-round"
                        src="assets/img/users/tuser-3.png"
                      />
                      <a href="heat-metric-player-wise.php"> Gerrit Cole </a>
                    </td>
                    <td>5"10 Feet</td>
                    <td>245 pounds</td>
                    <td>Right</td>
                    <td>Right</td>
                  </tr>
                  <tr>
                    <td>
                      <img
                        class="image-table-round"
                        src="assets/img/users/tuser-4.png"
                      />
                      <a href="heat-metric-player-wise.php"> Jimmy Cordero </a>
                    </td>
                    <td>6"4 Feet</td>
                    <td>260 pounds</td>
                    <td>Right</td>
                    <td>Right</td>
                  </tr>
                  <tr>
                    <td>
                      <img
                        class="image-table-round"
                        src="assets/img/users/tuser-5.png"
                      />
                      <a href="heat-metric-player-wise.php"> Nestor Cortes </a>
                    </td>
                    <td>6"0 Feet</td>
                    <td>250 pounds</td>
                    <td>Left</td>
                    <td>Left</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
