<div class="main-content">
  <div
    class="page-title-box d-sm-flex align-items-center justify-content-between"
  >
    <h4 class="mb-sm-0">Dashboard</h4>

    <div class="page-title-right">
      <ol class="breadcrumb m-0">
        <li class="breadcrumb-item">
          <a href="javascript: void(0);">Core Impact</a>
        </li>
        <li class="breadcrumb-item active">Athlete/Coach</li>
      </ol>
    </div>
  </div>

  <section class="athlete_table_section">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="card athlete_table_wrap pirmary_colorCode">
          <div class="card-header cardHeaderFlex">
            <h4>Add Athlete/Coach</h4>
            <!-- <a
              class="btn btn-outline-primary"
              data-toggle="modal"
              data-target="#centerModal"
            >
              Add CSV
            </a> -->
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Coach Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <img
                        class="image-table-round"
                        src="assets/img/users/tuser-1.png"
                      />
                      <span> Albert Abreu </span>
                    </td>
                    <td>Athlete</td>
                    <td>johndoe1@gmail.com</td>
                    <td>9123456789</td>
                    <td>
                      <a
                        class="assign-href"
                        data-toggle="modal"
                        data-target="#assign-coach"
                      >
                        Assign Coach
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <img
                        class="image-table-round"
                        src="assets/img/users/tuser-2.png"
                      />
                      <span> Jhony Brito </span>
                    </td>
                    <td>Athlete</td>
                    <td>stevesmith712@gmail.com</td>
                    <td>8123456789</td>
                    <td>
                      <a
                        class="assign-href"
                        data-toggle="modal"
                        data-target="#assign-coach"
                      >
                        Assign Coach
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <img
                        class="image-table-round"
                        src="assets/img/users/tuser-3.png"
                      />
                      <span> Gerrit Cole </span>
                    </td>
                    <td>Coach</td>
                    <td>peterhdss77@gmail.com</td>
                    <td>7123456789</td>
                    <td>
                      <a
                        class="assign-href"
                        data-toggle="modal"
                        data-target="#assign-coach"
                      >
                        Assign Coach
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <img
                        class="image-table-round"
                        src="assets/img/users/tuser-4.png"
                      />
                      <span> Jimmy Cordero </span>
                    </td>
                    <td>Athlete</td>
                    <td>natsciver22@gmail.com</td>
                    <td>9923456789</td>
                    <td>
                      <a
                        class="assign-href"
                        data-toggle="modal"
                        data-target="#assign-coach"
                      >
                        Assign Coach
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <img
                        class="image-table-round"
                        src="assets/img/users/tuser-5.png"
                      />
                      <span> Nestor Cortes </span>
                    </td>
                    <td>Athlete</td>
                    <td>issywongc852@gmail.com</td>
                    <td>9723456789</td>
                    <td>
                      <a
                        class="assign-href"
                        data-toggle="modal"
                        data-target="#assign-coach"
                      >
                        Assign Coach
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ath-manage">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="card athlete_table_wrap pirmary_colorCode">
          <div class="card-header dFlexRow">
            <h4>Athlete/Coach List</h4>
            <div class="headFilterWrap">
              <select class="form-control">
                <option selected>Athlete</option>
                <option>Coach</option>
              </select>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Physician</th>
                    <th scope="col">Batting Coach</th>
                    <th scope="col">Fielding Coach</th>
                    <th scope="col">Dietitian</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <img
                        class="image-table-round"
                        src="assets/img/users/tuser-1.png"
                      />
                      <span> Albert Abreu </span>
                    </td>
                    <td>Athlete</td>
                    <td>Liam</td>
                    <td>Noah</td>
                    <td>Oliver</td>
                    <td>James</td>
                    <td>9123456789</td>
                    <td>
                      <div class="trashRecord">
                        <a href="#">
                          <i class="fas fa-trash"></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <img
                        class="image-table-round"
                        src="assets/img/users/tuser-2.png"
                      />
                      <span> Jhony Brito </span>
                    </td>
                    <td>Athlete</td>
                    <td>Liam</td>
                    <td>Noah</td>
                    <td>Oliver</td>
                    <td>James</td>
                    <td>8123456789</td>
                    <td>
                      <div class="trashRecord">
                        <a href="#">
                          <i class="fas fa-trash"></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <img
                        class="image-table-round"
                        src="assets/img/users/tuser-3.png"
                      />
                      <span> Gerrit Cole </span>
                    </td>
                    <td>Athlete</td>
                    <td>Liam</td>
                    <td>Noah</td>
                    <td>Oliver</td>
                    <td>James</td>
                    <td>7123456789</td>
                    <td>
                      <div class="trashRecord">
                        <a href="#">
                          <i class="fas fa-trash"></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <img
                        class="image-table-round"
                        src="assets/img/users/tuser-4.png"
                      />
                      <span> Jimmy Cordero </span>
                    </td>
                    <td>Athlete</td>
                    <td>Liam</td>
                    <td>Noah</td>
                    <td>Oliver</td>
                    <td>James</td>
                    <td>9923456789</td>
                    <td>
                      <div class="trashRecord">
                        <a href="#">
                          <i class="fas fa-trash"></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <img
                        class="image-table-round"
                        src="assets/img/users/tuser-5.png"
                      />
                      <span> Nestor Cortes </span>
                    </td>
                    <td>Athlete</td>
                    <td>Liam</td>
                    <td>Noah</td>
                    <td>Oliver</td>
                    <td>James</td>
                    <td>9723456789</td>
                    <td>
                      <div class="trashRecord">
                        <a href="#">
                          <i class="fas fa-trash"></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div
  class="modal fade"
  id="centerModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">
          Upload CSV Files
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="ce-oneGrid">
          <label>CSV File</label>
          <form action="#" class="dropzone" id="mydropzone">
            <div class="fallback">
              <input name="file" type="file" multiple />
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer bg-whitesmoke br">
        <button type="button" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="assign-coach"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Assign Coach</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="ca-modal-tgrid">
          <div class="form-group">
            <label>Physician</label>
            <select class="form-control">
              <option>Liam</option>
              <option>Noah</option>
              <option>Oliver</option>
              <option>Elijah</option>
              <option>James</option>
            </select>
          </div>
          <div class="form-group">
            <label>Batting Coach</label>
            <select class="form-control">
              <option>Liam</option>
              <option>Noah</option>
              <option>Oliver</option>
              <option>Elijah</option>
              <option>James</option>
            </select>
          </div>
          <div class="form-group">
            <label>Trainer</label>
            <select class="form-control">
              <option>Liam</option>
              <option>Noah</option>
              <option>Oliver</option>
              <option>Elijah</option>
              <option>James</option>
            </select>
          </div>
          <div class="form-group">
            <label>Pitching Coach</label>
            <select class="form-control">
              <option>Liam</option>
              <option>Noah</option>
              <option>Oliver</option>
              <option>Elijah</option>
              <option>James</option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer bg-whitesmoke br">
        <button type="button" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
