<td>{{ idx + 1 }}</td>
<td>
  <img
    class="image-table-round"
    [src]="item.avatar || 'assets/img/users/tuser-1.png'"
    height="40"
    width="40"
  />
  <!-- [src]="item.avatar || 'assets/img/users/tuser-1.png'" -->
  <span> {{ item.name }} </span>
</td>
<!-- <td>Athlete</td> -->
<td>{{ item.email }}</td>
<td>{{ item.mobile }}</td>

<td>
  <a
    *ngIf="!item.batting_coach?.name"
    class="assign-href"
    (click)="openAssignCoachPopup()"
  >
    <!-- data-toggle="modal"
      data-target="#assign-coach" -->
    Assign Coach
  </a>
  <span *ngIf="item.batting_coach?.name">{{ item.batting_coach?.name }}</span>
</td>

<td>
  <div class="form-group checkk_dash">
    <label class="switch_dash">
      <input
        type="checkbox"
        (click)="updateAthletesStatus(item._id, !item.status)"
        [checked]="item.status"
      />
      <span class="slider_dash round"></span>
    </label>
  </div>
  <!-- <div
      (click)="deleteAthleteOrCoach(item._id)"
      class="trashRecord"
    >
      <i class="fas fa-trash"></i>
    </div> -->
  <!-- (click)="onStartEditAthleteOrCoach(item._id)" -->
  <!-- <div
      [routerLink]="['/dashboard/add-ath-coach']"
      [queryParams]="{ id: item._id, type: tableMode }"
      class="updateRecord"
    >
      <i class="fas fa-edit"></i>
    </div> -->
</td>

<ng-container #assign_coach> </ng-container>
