.sidebar-menu li:nth-of-type(2) a img.notActive {
  display: none;
}

.sidebar-menu li:nth-of-type(2) a img.active {
  display: inline-block;
}

.sidebar-menu li:nth-of-type(2) a span {
  color: #ccdd47;
}

.main-sidebar .sidebar-menu li a.has-dropdown:after {
  color: #ccdd47;
}

.main-sidebar .sidebar-menu li:nth-of-type(2) > ul.dropdown-menu {
  display: block;
  background-color: #2f2f2f;
}

.main-sidebar
  .sidebar-menu
  li:nth-of-type(2)
  > ul.dropdown-menu
  li:nth-of-type(1)
  a:before {
  color: #c7d746;
}

.purple-sidebar
  .main-sidebar
  .sidebar-menu
  li:nth-of-type(2)
  > ul.dropdown-menu
  li
  a:hover {
  color: #c7d746;
}

.purple-sidebar
  .main-sidebar
  .sidebar-menu
  li:nth-of-type(2)
  > ul.dropdown-menu
  li
  a:hover:before {
  color: #c7d746;
}

.main-sidebar
  .sidebar-menu
  li:nth-of-type(2)
  > ul.dropdown-menu
  li:nth-of-type(1)
  a {
  font-weight: 700;
  color: #c7d746;
}
