<div class="main-content" id="accordion">
  <div
    class="page-title-box d-sm-flex align-items-center justify-content-between"
  >
    <h4 class="mb-sm-0">Dashboard</h4>

    <div class="page-title-right">
      <ol class="breadcrumb m-0">
        <li class="breadcrumb-item">
          <a href="javascript: void(0);">Core Impact</a>
        </li>
        <li class="breadcrumb-item active">Athlete/Coach</li>
      </ol>
    </div>
  </div>

  <section class="athlete_table_section">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="card athlete_table_wrap pirmary_colorCode">
          <div
            class="card-header cardHeaderFlex accordion"
            data-toggle="collapse"
            data-target="#panel-body-1"
            aria-expanded="true"
          >
            <div class="d-flex jcsb">
              <h4>
                {{ isEditMode ? "Update" : "Add" }}
                {{ formMode == formModes.Athlete ? "Athlete" : "Coach" }}
              </h4>
              <!-- <div class="modBtn-col-btn">
                <a
                  class="btn btn-outline-primary"
                  data-toggle="modal"
                  data-target="#centerModal"
                >
                  Add CSV
                </a>
                <div class="collapseIcon">
                  <i class="far fa-plus"></i>
                  <i class="fa fa-minus"></i>
                </div>
              </div> -->
            </div>
          </div>
          <ng-container *ngIf="form">
            <form [formGroup]="form" (submit)="submit()">
              <div
                class="card-body collapse show"
                id="panel-body-1"
                data-parent="#accordion"
              >
                <div class="addTrnSession-wrap">
                  <div class="form-group">
                    <label>Category</label>
                    <select
                      #fMode
                      (change)="onChangeFormMode(fMode.value)"
                      class="form-control"
                    >
                      <option
                        value="Athlete"
                        [selected]="formMode === formModes.Athlete"
                      >
                        Athlete
                      </option>
                      <option
                        value="Coach"
                        [selected]="formMode === formModes.Coach"
                      >
                        Coach
                      </option>
                    </select>
                  </div>
                  <!-- <div class="form-group">
                    <label>Sport</label>
                    <select class="form-control">
                      <option selected>Baseball</option>
                      <option>Cricket</option>
                    </select>
                  </div> -->

                  <div class="form-group">
                    <label>Name</label>
                    <input
                      formControlName="name"
                      type="text"
                      class="form-control"
                    />
                    <app-input-error
                      [control]="form.get('name')!"
                      [fieldName]="'Name'"
                      [patternMsg]="'Name should accept alphabet only.'"
                    ></app-input-error>
                  </div>
                  <div class="form-group">
                    <label>Email</label>
                    <input
                      formControlName="email"
                      type="text"
                      class="form-control"
                    />
                    <app-input-error
                      [control]="form.get('email')!"
                      [fieldName]="'Email'"
                      [patternMsg]="'Please enter valid email id.'"
                    ></app-input-error>
                  </div>
                  <div class="form-group">
                    <label>Phone</label>
                    <input
                      formControlName="mobile"
                      type="text"
                      class="form-control"
                    />
                    <app-input-error
                      [control]="form.get('mobile')!"
                      [fieldName]="'Mobile'"
                      [patternMsg]="
                        'Contact Number should be between 6 to 15 digits.'
                      "
                    ></app-input-error>
                  </div>
                  <div class="form-group">
                    <label>Profile Image</label>
                    <input
                      (change)="onSelectImg($event)"
                      type="file"
                      class="form-control"
                      id="file"
                    />
                    <app-input-error
                      [control]="form.get('avatar')!"
                      [fieldName]="'Image'"
                      [patternMsg]="'Image is Required.'"
                    ></app-input-error>
                  </div>
                  <div class="form-group">
                    <label>Gender</label>
                    <select formControlName="gender" class="form-control">
                      <option selected value="Male">Male</option>
                      <option value="Female">Female</option>
                      <option value="Others">Others</option>
                    </select>
                    <app-input-error
                      [control]="form.get('gender')!"
                      [fieldName]="'Gender'"
                    ></app-input-error>
                  </div>
                </div>
                <div class="traingSubmit">
                  <button class="btn btn-primary">Submit</button>
                </div>
              </div>
            </form>
          </ng-container>
        </div>
      </div>
    </div>
  </section>
</div>

<div
  class="modal fade"
  id="centerModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">
          Upload CSV Files
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="ce-oneGrid">
          <label>CSV File</label>
          <form action="#" class="dropzone" id="mydropzone">
            <div class="fallback">
              <input name="file" type="file" multiple />
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer bg-whitesmoke br">
        <button type="button" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
