.classes {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed white;
  height: 120px;
  border-radius: 5px;
}

.flex-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.my-btn {
  background: #9e9e9e;
  border: none;
  box-shadow: none;
}

.pos-1 {
  position: absolute;
  top: 0%;
  right: 0%;
  color: #ff1616;
  font-size: 17px;
}

.pos {
  position: relative;
}
