<div class="row">
  <div class="col-12 col-md-12 col-lg-12">
    <div class="card ce_table_wrap pirmary_colorCode">
      <div
        class="card-header accordion"
        data-toggle="collapse"
        data-target="#panel-body-1"
        aria-expanded="true"
      >
        <div class="d-flex jcsb">
          <h4>Create New Exercise</h4>
          <div class="collapseIcon">
            <i class="far fa-plus"></i>
            <i class="fa fa-minus"></i>
          </div>
        </div>
      </div>
      <div
        class="card-body collapse show"
        id="panel-body-1"
        data-parent="#accordion"
        *ngIf="form"
      >
        <form [formGroup]="form" (submit)="submit()">
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <label>Exercise Title</label>
                <input
                  formControlName="name"
                  type="text"
                  class="form-control"
                  minlength="3"
                  maxlength="100"
                />
                <app-input-error
                  [control]="form.get('name')!"
                  [fieldName]="'Name'"
                  [patternMsg]="'Name should accept alphabet only.'"
                  [minLength]="3"
                  [maxLength]="100"
                ></app-input-error>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Category</label>
                <select formControlName="exCategory" class="form-control">
                  <option [value]="null">---Select---</option>
                  <option
                    *ngFor="let item of categories | async"
                    [value]="item._id"
                  >
                    {{ item.name }}
                  </option>
                </select>
                <app-input-error
                  [control]="form.get('exCategory')!"
                  [fieldName]="'Exercise Category'"
                ></app-input-error>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Sub Category</label>
                <select formControlName="exSubCategory" class="form-control">
                  <option [value]="null">---Select---</option>
                  <option
                    *ngFor="let item of subCategories | async"
                    [value]="item._id"
                  >
                    {{ item.name }}
                  </option>
                </select>
                <app-input-error
                  [control]="form.get('exSubCategory')!"
                  [fieldName]="'Exercise Sub Category'"
                ></app-input-error>
              </div>
            </div>
          </div>
          <div class="ce-oneGrid">
            <label>Training</label>
            <div class="fallback classes">
              <input id="file" (change)="onSelectImg($event)" type="file" />
            </div>
          </div>
          <div class="ce-OneGrid">
            <div class="form-group">
              <label class="col-form-label">Steps</label>
              <textarea
                formControlName="description"
                class="summernote"
              ></textarea>
              <app-input-error
                [control]="form.get('description')!"
                [fieldName]="'Description'"
              ></app-input-error>
            </div>
          </div>
          <div class="ce-TwoGrid custom-ce-grid" formArrayName="steps">
            <div
              class="titleDetailWrapper"
              *ngFor="let item of getFormArr().controls; let i = index"
              [formGroupName]="i"
            >
              <div class="form-group pos">
                <label>Title 1</label>
                <input
                  formControlName="title"
                  type="text"
                  class="form-control"
                  placeholder="Title"
                />
                <app-input-error
                  [control]="getFormArr().controls[i].get('title')!"
                  [fieldName]="'Title'"
                ></app-input-error>
                <a
                  *ngIf="i != 0"
                  href="javascript:void(0)"
                  (click)="removeStep(i)"
                  class="pos-1"
                  >Remove</a
                >
              </div>
              <div class="form-group">
                <label class="col-form-label">Detail</label>
                <textarea
                  formControlName="content"
                  class="summernote"
                ></textarea>
                <app-input-error
                  [control]="form.get('content')!"
                  [fieldName]="'Content'"
                ></app-input-error>
              </div>
            </div>
          </div>
          <div class="traingSubmit flex-1">
            <button [disabled]="submitting" class="btn btn-primary">
              Submit {{ submitting ? "..." : "" }}
            </button>
            <button
              type="button"
              (click)="addStep()"
              class="btn btn-info my-btn"
            >
              <i class="fa-solid fa-plus"></i>&nbsp;Add
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
