<div class="main-content">
  <div class="container-fluid breadcrumbPdiv">
    <div class="row">
      <div class="col-12">
        <div
          class="page-title-box d-sm-flex align-items-center justify-content-between"
        >
          <h4 class="mb-sm-0">Dashboard</h4>

          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item">
                <a href="javascript: void(0);">Core Impact</a>
              </li>
              <li class="breadcrumb-item active">Change Password</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row" id="user-profile">
      <div class="col-lg-12">
        <div class="card center_card pirmary_colorCode">
          <div class="card-body">
            <div class="wideget-user">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-xl-12">
                  <div class="card-heading-wrapper add-menu-wrap">
                    <h4 class="card-title mb-4">Change Password</h4>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-xl-12">
                  <div class="profileDivWrapper">
                    <form [formGroup]="form" (submit)="submit()">
                      <div class="wideget-user-desc">
                        <div class="edit-detail-wrap">
                          <div class="form-group">
                            <label>Old Password</label>
                            <input
                              formControlName="oldPassword"
                              placeholder="Old Password"
                              type="text"
                              class="form-control"
                            />
                            <app-input-error
                              [control]="form.get('oldPassword')!"
                              [fieldName]="'Old Password'"
                            ></app-input-error>
                          </div>
                          <div class="form-group">
                            <label>New Password</label>
                            <input
                              formControlName="newPassword"
                              placeholder="New Password"
                              type="text"
                              class="form-control"
                            />
                            <app-input-error
                              [control]="form.get('newPassword')!"
                              [fieldName]="'New Password'"
                              [patternMsg]="
                                'Password should be Between 8-16 characters long And it should contain Atleast One Number, One Special Character,One Uppercase and One Lowercase.'
                              "
                            ></app-input-error>
                          </div>
                          <div class="form-group">
                            <label>Confirm Password</label>
                            <input
                              formControlName="confirmPassword"
                              placeholder="Confirm Password"
                              type="text"
                              class="form-control"
                            />
                            <app-input-error
                              [control]="form.get('confirmPassword')!"
                              [fieldName]="'Confirm Password'"
                            ></app-input-error>
                          </div>
                        </div>
                        <div class="traingSubmit flexCenter">
                          <button class="btn btn-primary">Update</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
