<div class="login-3 tab-box">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-12 bg-img">
        <div class="informeson">
          <div class="typing">
            <h1>Welcome To Core Impact</h1>
          </div>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 form-section">
        <div class="login-inner-form">
          <div class="details">
            <a href="login-3.html">
              <img src="assets/img/logo.svg" alt="logo" />
            </a>
            <h3>Reset Your Password</h3>
            <form [formGroup]="form" (submit)="submitForm()">
              <div class="form-group form-box">
                <div class="pos">
                  <input
                    name="password"
                    formControlName="password"
                    class="form-control"
                    autocomplete="off"
                    placeholder="Password"
                    aria-label="Password"
                    [type]="passShow ? 'text' : 'password'"
                  />
                  <i
                    class="fa pos-1"
                    [ngClass]="passShow ? 'fa-eye' : 'fa-eye-slash'"
                    (click)="passShow = !passShow"
                  ></i>
                </div>
                <app-input-error
                  [control]="form.get('password')!"
                  [fieldName]="'Password'"
                  [patternMsg]="
                    'Password should be Between 8-16 characters long And it should contain Atleast One Number, One Special Character,One Uppercase and One Lowercase.'
                  "
                ></app-input-error>
              </div>
              <div class="form-group form-box">
                <input
                  type="password"
                  name="confirmPassword"
                  class="form-control"
                  autocomplete="off"
                  placeholder="Confirm Password"
                  formControlName="confirmPassword"
                  placeholder="Confirm Password"
                />
                <app-input-error
                  [control]="form.get('confirmPassword')!"
                  [fieldName]="'Confirm Password'"
                ></app-input-error>
              </div>
              <div class="form-group">
                <button
                  class="btn-md btn-theme w-100"
                  [disabled]="uiService.loading | async"
                >
                  Update Password
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
